.row {
    display: flex;
}
  
.column {
    flex: 50%;
    padding: 30px;
}

.img-container {
    margin-left: 6vw;
}

.img {
    width: 30vw;
    height: 85vh;
}

.icon {
    margin-left: 5px;
}

.textarea {
    margin: auto;
    width: 50vw;
    height: 200px;
}

.empty-msg { 
    height: 50vh;
    font-size: 26pt;
    text-align: center;
}

#warning-alert, #success-alert {
    width: 50vw;
    margin: auto;
    margin-bottom: 50px; 
    padding: 20px;
}

.review-container {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 60vw;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    min-height: 30vh;
    overflow: hidden;
    background-color: #40434E;
    border-color: #40434E !important;
}

.author-container {
    text-align: left;
}

.author {
    font-size: 20pt; 
}

.detail-container {
    overflow-x: hidden;
    min-width: 100%;
}

.vertical-line {
    border-right: 1px solid #EEEEEE;
    margin-left: 20px;
    margin-right: 10px;
    min-height: 30vh;
    overflow: hidden;
}

.rating {
    padding: 50% 0;
    text-align: center;
    font-size: 26pt;
}

.description-text {
    padding: 20px;
    word-wrap: break-word;
    width: 80%;
    height: 100%;
    display: block;
    line-height: 1.7;
}

.rating-select {
    width: 30vh;
    margin: auto;
}

.edit, .delete {
    cursor: pointer;
}

.delete {
    color: #d6475f;
}

.edit {
    color: rgb(116, 140, 221);
}

hr {
    border-color: #EEEEEE !important;
}

.title {
    font-size: 32pt;
}

.year {
    font-size: 22pt;
    color: #702632;
}

.content {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 85%;
    font-size: 16pt;
    color: #EEEEEE;
}

.actor-heading {
    font-size: 20pt;
}

.actor {
    font-size: 14pt; 
    color: #EEEEEE;
}

.collection-btn {
    margin-top: 5vh;
    width: 250px;
    height: 100px;
}

