.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    justify-content: center;
}

.grid-item-i {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.grid-container .grid-item-i {
    border: none !important;
}

.watched-container > h2, .not-watched-container > h2 {
    margin-left: 2vw;
}

.button-container > Button {
    margin-left: 5px;
    margin-right: 5px;
}

#empty {
    font-size: 25pt;
}

#hide {
    display: none !important;
    font-size: 25pt;
}
